<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="aad test" />
    <add key="ida:ClientId" value="f00891b1-2f51-4f74-8265-b1e532328300" />
    <add key="ida:RedirectUri" value="https://login.live.com/oauth20_desktop.srf" />
    <add key="todo:TodoListResourceId" value="https://authtest3.onmicrosoft.com/AADAuthTestServer" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:80" />
  </appSettings>
</configuration>