<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="c5a3ec7b-6560-43ba-97db-35e19aaa33e3" /> <!--https://stackoverflow.com/questions/26384034/how-to-get-the-azure-account-tenant-id/29635598#29635598-->
    <add key="ida:ClientId" value="f00891b1-2f51-4f74-8265-b1e532328300" />
    <add key="ida:RedirectUri" value="https://login.live.com/oauth20_desktop.srf" />
    <add key="ida:AADLogin" value="https://login.windows.net/{0}" />
    <add key="ida:Audience" value="https://authtest3.onmicrosoft.com/AADAuthTestServer"/><!--this should be ok, not a valid url-->
  </appSettings>
</configuration>